language: ruby
rvm:
- 2.5
before_install:
- gem install bundler
- gem update --system
install:
- bundle install --jobs=3 --retry=3
deploy:
  provider: rubygems
  api_key:
    secure: QcnETkp8zYWSvM8ihj7dV1kJZ51TjAeg/ZzCvZDYGGclFvnV1h1yf/+ePbNPexxiiELsD5SUsPLlso/5QzBVoVCs9VNMN7U9rCB9nc97SYq+qYAndE0WbF/ZuDJjn5rg4tr1ovpUZ4IZy0DD9NlzKNweBE8yYNlyXiDjaiWDgTs9/c1JTh2j91+gLMTee5BeQe8F4vXwNGq+EPtS14FCuq7/oYhbj4v5QcE76btd/LGTuNivHv+8RLuVNP4yKBb2qUrcbwFPl7/KyBjbnS6iLsCZORgDxCCi7OhVNE5kAEJQW+c8f+NfMx7/DfCc1RECR3j94IticsGsjJ4DVKn7M2ccBQo7CyaqB75Lzlq9PJG8lD2oHRVTVwKIyP9GIpmVhX6Lp/nMFybYvN3LkK50EATTd73KBWifoUTgKdAix5a5Ss9VjRNvhBeTTSA1lyhCDYAarUOYBqUTPxASgzvHWEpv27NKUz8MuK87vJtBsAaclqLc0/ViN89VfXgSk7Xp3z3iqnSzfoEFaDlW/VBQ0VI/nIkrPDKsrnqorB0FjLsorL7DhaZ+Ehjmou1kCUHAk5orpZ/AvlwBEGaxSyQvZ7uTz4p6K8xRyWKMFe5zA89KlMH/siqFkR5zzktL5qCyIDauqYpaBitwuZD2Zu533g2cqfSYcSJYFB4talr8hf8=
  on:
    tags: true
